extends layout

block content
  .header
    .container
      .logo
        h1
          a(href='index.html') 植物吧
      .top_right
        ul
          li
            a(href='#') 注册
          | |
          li.login
            #loginContainer
              a#loginButton(href='#')
                span 登陆
              #loginBox
                form#loginForm
                  fieldset#body
                    fieldset
                      label(for='email') 邮件地址
                      input#email(type='text', name='email')
                    fieldset
                      label(for='password') 密码
                      input#password(type='password', name='password')
                    input#login(type='submit', value='登陆')
                    label(for='checkbox')
                      input#checkbox(type='checkbox')
                      i 记住密码
                  span
                    a(href='#') 忘记密码?
      .clearfix
  .banner
    .container
      .span_1_of_1
    // 输入框+搜索按钮
    .search
      form.navbar-form.navbar-right(action='/content', method='post')
        input.form-control(type='text', placeholder='Search...')
        input(type='submit', value=' ')
  .grid_1
    h3 特 色 物 种
    .col-md-2.col_1
      img.img-responsive(src='images/g1.jpg', alt='')
    .col-md-2.col_1
      img.img-responsive(src='images/g2.jpg', alt='')
    .col-md-2.col_1
      img.img-responsive(src='images/g3.jpg', alt='')
    .col-md-2.col_1
      img.img-responsive(src='images/g4.jpg', alt='')
    .col-md-2.col_1
      img.img-responsive(src='images/g5.jpg', alt='')
    .col-md-2.col_1
      img.img-responsive(src='images/f1.jpg', alt='')
    .col-md-2.col_1
      img.img-responsive(src='images/pic9.jpg', alt='')
    .col-md-2.col_1
      img.img-responsive(src='images/f2.jpg', alt='')
    .col-md-2.col_1
      img.img-responsive(src='images/f3.jpg', alt='')
    .col-md-2.col_1
      img.img-responsive(src='images/f4.jpg', alt='')
    .col-md-2.col_1
      img.img-responsive(src='images/w1.jpg', alt='')
    .col-md-2.col_1
      img.img-responsive(src='images/pic15.jpg', alt='')
    .col-md-2.col_1
      img.img-responsive(src='images/w2.jpg', alt='')
    .col-md-2.col_1
      img.img-responsive(src='images/w3.jpg', alt='')
    .col-md-2.col_1
      img.img-responsive(src='images/w4.jpg', alt='')
    .col-md-2.col_1
      img.img-responsive(src='images/pic20.jpg', alt='')
    .clearfix
    nav.fanye
      ul.pagination.pagination-lg
        li
          a(href='#', aria-label='Previous')
            span(aria-hidden='true') «
        li
          a(href='#') 1
        li
          a(href='#') 2
        li
          a(href='#') 3
        li
          a(href='#') 4
        li
          a(href='#') 5
        li
          a(href='#', aria-label='Next')
            span(aria-hidden='true') »
  .grid_3
    .container
      p
        | Copyright © 2015.Company name All rights reserved.
        a(target='_blank', href='#') hfkdshkfhsd


